.notification .is-danger {
  background-color: #f14668;
  color: #fff;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
}

.outstagramlogo {
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin-right: 3px;
}

.heart-toggle {
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
}

.heart-toggle .fa-heart {
  color: gray; /* Initial color */
}

.heart-toggle.toggled .fa-heart {
  color: red; /* Color when toggled */
}

html {
  overflow-y: scroll;
}

.nav-item {
  display: inline-flex;
  align-items: center;
}