.notification .is-danger {
  background-color: #f14668;
  color: #fff;
}


.heart-toggle {
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
}

.heart-toggle .fa-heart {
  color: gray; /* Initial color */
}

.heart-toggle.toggled .fa-heart {
  color: red; /* Color when toggled */
}

html {
  overflow-y: scroll;
}