{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 my-5">
            <h3 class="text-2xl font-bold mb-4">Sign Up</h3>
            <div class="bg-white p-4 rounded shadow">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger text-black p-4 mb-4">
                        {{ messages[0] }}. Please <a href="{{ url_for('auth.login') }}" class="underline">login</a> to your account if you already have one.
                    </div>
                {% endif %}
                {% endwith %}
                <form method="POST" action="/signup" enctype="multipart/form-data" onsubmit="return validateForm()">
                    <div class="mb-4">
                        <input class="form-control" type="email" name="email" placeholder="Email" autofocus="" required>
                    </div>

                    <div class="mb-4">
                        <input class="form-control" type="text" name="name" id="nameInput" placeholder="Username" autofocus="" required>
                        <small id="nameError" style="color: red;"></small>
                    </div>

                    <div class="mb-4">
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="mb-4">
                        <label for="profilePicture">Upload Profile Picture:</label>
                        <input class="form-control" type="file" id="profilePicture" name="picture" accept="image/*">
                        <small>If no profile picture is added, a default picture will be used.</small>
                    </div>

                    <button class="btn btn-primary btn-block">Sign Up</button>
                </form>
                <p class="text-center mt-3">Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
                <script>
                    function validateForm() {
                        var nameInput = document.getElementById("nameInput");
                        var nameError = document.getElementById("nameError");
                        var nameRegex = /^[a-zA-Z0-9_.]+$/; // Only allow letters, numbers, underscores, and periods

                        if (!nameRegex.test(nameInput.value)) {
                            nameError.textContent = "Name can only contain letters and numbers";
                            return false; // Prevent form submission
                        }

                        return true; // Allow form submission
                    }
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
                        
